body {
    background-color: #d9e0d9;
    margin: 5%; 
    text-align: center;  
}

header h1{
    background-color: #f2f5f2;
    width: 100%;
    border: #a64d4d solid 1px;
  }

#pets {
    display: flex;
    flex-wrap: wrap;    
}  

#petInfo {
    background-color: #f2f5f2;
    border: #a64d4d solid 3px;
    width: 27%;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 2px;  
}

.petName {
    border-bottom: #a64d4d solid 1px;
    height: 10%;
}

.petFacts {
    height: 70%;
}

img {
    width: 70%;
    border: #a64d4d solid 1px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.petColor {
    text-align: center;
    margin: 5px;
}

.petSkill {
    text-align: center;
    margin: 5px;
}


.cardType {
    border-top:  #a64d4d solid 1px;
    height: 8%;
  }


 



  