body {
    background-color: #d9e0d9;
    margin: 50px; 
    text-align: center;  
}

img {
    height: 60%;
    width: 55%;
}

#pets {
    display: flex;
    flex-wrap: wrap;
    
      
}

.petInfo {
    background-color: #f2f5f2;
    border: #a64d4d solid 3px;
    height: 50%;
    width: 25%;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px;
}

.petInfo footer {
    background-color: ;
    height: 5%;
    border-top:  #a64d4d solid 1px;
  }